h1, h2 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.5rem;
}

section {
  border-bottom: 2px solid rgb(163, 159, 75);
}

.quote {
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 3rem;
  text-align: center;
  margin-top: 2em;
}

